.money-details-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.money-details-card {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 30%;
	align-items: center;
	border-radius: 10px;
}
.money-image {
	height: 50px;
}
.balance {
	background-color: #ecfccb;
	border: 1px solid #84cc16;
}
.income {
	background-color: #cffafe;
	border: 1px solid #06b6d4;
}
.expenses {
	background-color: #ede9fe;
	border: 1px solid #7c3aed;
}
